<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Joaquim d'Souza dot com<%= (route === '/') ? '' : (' | ' + title) %></title>
    <meta name="description" content="Joaquim d'Souza's web presence">
    <meta name="author" content="Joaquim d'Souza">

    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>

<div id="container" class="container">

    <header>
        <% if (route !== '/') { %>
        <a href="/">Home</a>
        <% } %>
        <div class="header__title-row">
            <h1><%= title %></h1>
            <%- include('./components/accessibility/switch.ejs') %>
        </div>
    </header>
    <main>
        <%- page %>
    </main>
    <footer>
        <small>
            <em>
                Site built at <%= date.toLocaleTimeString('en-GB'); %> on <%= date.toLocaleDateString('en-GB'); %>.
            </em>
        </small>
    </footer>

</div>

<script src="/global.js"></script>
<script src="index.js"></script>
</body>
</html>